DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Neon PostgreSQL
DATABASE_URL=postgresql://USER:PASSWORD@YOUR-NEON-HOST/DBNAME?sslmode=require&channel_binding=require
DB_CONN_MAX_AGE=60
DB_SSL_REQUIRE=True

# Email Settings (Gmail)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

ACCESS_TOKEN_MINUTES=30
REFRESH_TOKEN_DAYS=7
FRONTEND_BASE_URL=http://localhost:5173


# Cloudinary Settings
CLOUDINARY_CLOUD_NAME=dmxfdt7ub
CLOUDINARY_API_KEY=851955595864625
CLOUDINARY_API_SECRET=7jPJ065tTk7x-una-rI3AAas-0Y
